.ticketArea > .ticket{
    margin: 10px 0 10px 0;
    background-color: #EDEDED;
    padding: 10px;
}

.title{

}

.desc{

}

.completedArea > .ticket{
    margin: 10px 0 10px 0;
    background-color: #7FCF67;
    padding: 10px;
}

.ticket-working{
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: #F37C06;
}

#formArea{
    position: absolute;
    top: 3vh;
    left: 25vw;
    right: 25vw;
}

.grayout{
    opacity: 0.4;
}